$background: #121212;
$primary_red: #C7493A;
$secondary_red: #A33327;
$primary_green: #689775;
$primary_grey: #917164;


$orange: #C7773AFF;



$green: #84B893;
$yellow: #C3C56C;
$red: #B54E5D;
$secondary_red: #A33327;
$blue: #39829A;
$secondary_blue: #3F5062;
$purple: #D17BB9;
$violet: #6061A7;
$grey: #969EAB;
$secondary_grey: #AD8174;




//$background: #151515;
//$primary: #7952B3;
//$secondary: #FFC107;
//$tertiary: #E1E8EB;



